name: IPQ60XX-6.12-NOWIFI

on:
  workflow_dispatch:
  schedule:
    - cron: 0 19 * * *

jobs:
  build:
    uses: ./.github/workflows/build-openwrt.yml
    secrets: inherit
    with:
      repo_url: "https://github.com/LiBwrt/openwrt-6.x.git"
      repo_branch: "main-nss"
      config_file: "configs/ipq60xx-6.12-nowifi.config"
      diy_script: "libwrt.sh"
      firmware_tag: "IPQ60XX-6.12-NOWIFI"
      firmware_description: "6.12 kernel firmware with Wired NSS support (no WIFI)"
      install_extra_packages: false
      kernel_version_file: "kernel-6.12"
