name: IPQ60XX-6.12-WIFI

on:
  workflow_dispatch:
  schedule:
    - cron: 0 19 * * *

jobs:
  build:
    uses: ./.github/workflows/build-openwrt.yml
    secrets: inherit
    with:
      repo_url: "https://github.com/LiBwrt/openwrt-6.x.git"
      repo_branch: "main-nss"
      config_file: "configs/ipq60xx-6.12-wifi.config"
      diy_script: "libwrt.sh"
      firmware_tag: "IPQ60XX-6.12-WIFI"
      firmware_description: "6.12 kernel firmware with WIFI + Wired NSS support"
      install_extra_packages: true
