name: IPQ60XX-24.10

on:
  workflow_dispatch:
  schedule:
    - cron: 0 19 * * *

jobs:
  build:
    uses: ./.github/workflows/build-openwrt.yml
    secrets: inherit
    with:
      repo_url: "https://github.com/LiBwrt/openwrt-6.x.git"
      repo_branch: "openwrt-24.10"
      config_file: "configs/ipq60xx-6.12-wifi.config"
      diy_script: "libwrt.sh"
      firmware_tag: "IPQ60XX-24.10"
      firmware_description: "24.10 branch firmware with WIFI + NSS support"
      install_extra_packages: false
